<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

</head>
<body>
<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }

    p {
        text-align: center;
        font-size: 24pt;
    }
</style>

<div>
    <h1>Ejercicio1</h1>
    <h2>Heroku time</h2>
    <p>This site has been visited {{ count }} times <br> It's currently {{ the_time }}</p> 
    <img src="http://loremflickr.com/600/400" {tema} width="600" height="400" />
</div>
</body>
</html>
